## Chinook Database Query
### Display Customers’ Names, Purchased Tracks, and Album Titles

In [21]:
# Import libraries
from sqlalchemy import create_engine
import pandas as pd

In [22]:
# Create a SQLAlchemy engine
engine = create_engine("mysql+pymysql://pyuser:python123@localhost/chinook")

In [23]:
# Define the SQL query
query = """
SELECT 
    c.LastName,
    c.FirstName,
    t.Name AS TrackName,
    al.Title AS AlbumTitle
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album al ON t.AlbumId = al.AlbumId
ORDER BY c.LastName, c.FirstName;
"""

In [24]:
# Execute the query and store the results in a pandas DataFrame
df = pd.read_sql(query, engine)
df.head()

,LastName,FirstName,TrackName,AlbumTitle
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas